<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title translate>ACCOUNT.TITLE</ion-title>

    <ion-buttons slot="end">
      <!-- options -->
      <ion-button id="options-menu-trigger">
        <ion-icon name="ellipsis-vertical" slot="icon-only" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-progress-bar type="indeterminate" *rxIf="loading$"></ion-progress-bar>
</ion-header>

<!-- options menu -->
<ion-popover #optionsPopover trigger="options-menu-trigger" triggerAction="click">
  <ng-template>
    <ion-content class="ion-no-padding">
      <ion-list-header translate>COMMON.POPOVER_ACTIONS_TITLE</ion-list-header>
      <ion-list>
        <ion-item (click)="addNewWallet($event)" tappable>
          <ion-label translate>ACCOUNT.WALLET_LIST.BTN_NEW_DOTS</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-popover>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" [translucent]="true">
    <ion-toolbar color="primary">
      <ion-title size="large" translate>ACCOUNT.TITLE</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-header [translucent]="true">
    <ion-item color="secondary" lines="none">
      <ion-avatar slot="start" (click)="avatarModal.present()" [style.background-color]="'white'">
        <app-account-image [account]="account$ | push"></app-account-image>
      </ion-avatar>
      <ion-select
        [(ngModel)]="account"
        [interface]="mobile ? 'action-sheet' : 'popover'"
        [interfaceOptions]="mobile ? actionSheetOptions : popoverOptions"
        [okText]="'COMMON.BTN_OK' | translate"
        [cancelText]="'COMMON.BTN_CANCEL' | translate"
      >
        <ion-select-option *rxFor="let account of accounts$" [value]="account">
          {{ account | accountName }}
        </ion-select-option>
      </ion-select>

      <div slot="end">
        <ion-label class="ion-text-end">
          <p translate>ACCOUNT.BALANCE</p>
          <h2>
            <b *rxIf="account$; let account">{{ account | balance | amountFormat }}</b>
          </h2>
        </ion-label>
      </div>
    </ion-item>
  </ion-header>

  <div id="container">
    <div class="ion-text-center ion-padding-top" *ngIf="!mobile">
      <ion-button *rxIf="account$; let account" (click)="transfer()" [disabled]="loading">
        <ion-icon slot="start" name="paper-plane"></ion-icon>
        <ion-label translate>COMMON.BTN_SEND_MONEY</ion-label>
      </ion-button>
    </div>

    <ion-list>
      <ion-item *rxIf="error$; let error" lines="none" color="light">
        <ion-icon slot="start" name="alert-circle" color="danger"></ion-icon>
        <ion-label color="danger">{{ error | translate }}</ion-label>
      </ion-item>

      <!-- pubkey -->
      <ion-item *ngIf="(account$ | async)?.meta?.publicKeyV1; let pubkey" (click)="copyToClipboard($event, pubkey)" tappable>
        <ion-icon aria-hidden="true" name="key" slot="start"></ion-icon>

        <ion-label>
          <h2 translate>COMMON.PUBKEY</h2>
          <p class="ion-text-nowrap">
            <span>{{ pubkey | pubkeyFormat }}</span>
          </p>
        </ion-label>

        <ion-button slot="end" [disabled]="loading$ | async" (click)="showQrCode($event, pubkey, 'COMMON.PUBKEY')" fill="clear" shape="round">
          <ion-icon slot="icon-only" name="qr-code"></ion-icon>
        </ion-button>
      </ion-item>

      <ng-container *rxIf="account$; let account">
        <!-- address -->
        <ion-item (click)="copyToClipboard($event, account.address)" tappable>
          <ion-icon aria-hidden="true" slot="start" name="key"></ion-icon>
          <ion-label>
            <h2 translate>COMMON.ADDRESS</h2>
            <p class="ion-text-nowrap">
              <span>{{ account.address | addressFormat }}</span>
            </p>
          </ion-label>

          <ion-button
            [disabled]="loading$ | async"
            (click)="showQrCode($event, account.address, 'COMMON.ADDRESS')"
            slot="end"
            fill="clear"
            shape="round"
          >
            <ion-icon slot="icon-only" name="qr-code"></ion-icon>
          </ion-button>
        </ion-item>

        @if (account.meta?.uid) {
          <!-- UID -->
          <ion-item>
            <ion-icon aria-hidden="true" slot="start" name="calendar-clear-outline"></ion-icon>
            <ion-label>
              <h3 translate>COMMON.UID</h3>
              <p>
                {{ 'WOT.REGISTERED_SINCE' | translate }} {{ account.meta.createdOn | blockTime | dateFormat }} -
                {{ 'WOT.REGISTERED_SINCE_BLOCK' | translate }} {{ account.meta.createdOn | blockNumber }}
              </p>
            </ion-label>
            <ion-badge [color]="account.meta.isMember ? 'warning' : 'medium'" slot="end">
              {{ account.meta.uid }} ({{ account.meta.status }})
            </ion-badge>
          </ion-item>

          <!-- Received cert count -->
          <ion-item detail [routerLink]="['..', 'cert', account.address, account.meta?.uid || '', 'received']" [routerDirection]="'forward'">
            <ion-icon aria-hidden="true" slot="start" name="ribbon"></ion-icon>
            <ion-label translate>WOT.CERTIFICATIONS.RECEIVED</ion-label>
            <ion-badge color="success" slot="end">{{ receivedCertCount$ | push }}</ion-badge>
          </ion-item>

          <!-- Received cert count -->
          <ion-item detail [routerLink]="['..', 'cert', account.address, account.meta?.uid || '', 'given']" [routerDirection]="'forward'">
            <ion-icon aria-hidden="true" slot="start" name="ribbon"></ion-icon>
            <ion-label translate>WOT.GIVEN_CERTIFICATIONS.SENT</ion-label>
            <ion-badge color="success" slot="end">{{ givenCertCount$ | push }}</ion-badge>
          </ion-item>
        }

        <!-- TX history -->
        <ion-item detail [routerLink]="['/history', account?.address]" [routerDirection]="mobile ? 'forward' : 'root'">
          <ion-icon aria-hidden="true" slot="start" name="card"></ion-icon>
          <ion-label translate>WOT.ACCOUNT_OPERATIONS</ion-label>
        </ion-item>
      </ng-container>
    </ion-list>
  </div>
</ion-content>

<ion-fab slot="fixed" vertical="bottom" horizontal="end" *ngIf="mobile">
  <ion-fab-button color="danger" (click)="transfer()">
    <ion-icon name="send"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-modal #authModal [backdropDismiss]="false">
  <ng-template>
    <ion-content scrollY="false">
      <app-auth-modal></app-auth-modal>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal #qrCodeModal [backdropDismiss]="true" [presentingElement]="_presentingElement" [canDismiss]="true">
  <ng-template>
    <ion-header>
      <ion-toolbar color="secondary">
        <ion-title translate>{{ qrCodeTitle }}</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="qrCodeModal.dismiss()" translate>COMMON.BTN_CLOSE</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content [scrollY]="mobile">
      <ion-list>
        <!-- QR code -->
        <ion-item>
          <qr-code [value]="qrCodeValue" [size]="250"></qr-code>
        </ion-item>

        <!-- public key -->
        <ion-item lines="none" (click)="copyToClipboard($event, qrCodeValue)" tappable>
          <ion-icon slot="start" name="key"></ion-icon>
          <ion-label class="ion-text-wrap">{{ qrCodeValue }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal #avatarModal [backdropDismiss]="true" [presentingElement]="_presentingElement" [canDismiss]="true">
  <ng-template>
    <ion-content [scrollY]="mobile">
      <ion-header>
        <ion-toolbar color="secondary">
          <ion-title translate>ACCOUNT.AVATAR</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="avatarModal.dismiss()" translate>COMMON.BTN_CLOSE</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-item>
        <ion-icon slot="start" name="warning" color="danger" lines="none"></ion-icon>
        <ion-label class="ion-text-wrap" [innerHTML]="'INFO.FEATURES_NOT_IMPLEMENTED' | translate"></ion-label>
      </ion-item>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal #notImplementedModal [backdropDismiss]="true" [presentingElement]="_presentingElement" [canDismiss]="true">
  <ng-template>
    <ion-content>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="end">
            <ion-button (click)="notImplementedModal.dismiss()" translate>COMMON.BTN_CLOSE</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-item>
        <ion-icon slot="start" name="warning" color="danger" lines="none"></ion-icon>
        <ion-label class="ion-text-wrap" [innerHTML]="'INFO.FEATURES_NOT_IMPLEMENTED' | translate"></ion-label>
      </ion-item>
    </ion-content>
  </ng-template>
</ion-modal>
