<ion-header>
  <ion-toolbar>
    <ion-title>Choisissez un portefeuille</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="!loading; else loadingTemplate">
    <ion-radio-group [(ngModel)]="selectedDerivation" (ngModelChange)="onSelectionChange()">
      <ion-list-header>
        <label>Portefeuilles disponibles</label>
      </ion-list-header>
      <ion-item *ngFor="let derivation of derivations" class="derivation-item" (click)="selectDerivation(derivation.derivation)">
        <label>
          <div>{{ derivation.address }}</div>
          <div>{{ derivation.balance | number: '1.2-2' }} {{ currencySymbol }}</div>
        </label>
        <ion-radio slot="end" [value]="derivation.derivation"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
  <ng-template #loadingTemplate>
    <ion-item lines="none">
      <label>Scanning derivations...</label>
      <ion-progress-bar [value]="progress / 100"></ion-progress-bar>
    </ion-item>
  </ng-template>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row class="ion-no-padding" nowrap>
      <ion-col></ion-col>

      <!-- buttons -->
      <ion-col size="auto">
        <ion-button fill="clear" color="dark" (click)="onCancel()">
          <ion-label translate>COMMON.BTN_CANCEL</ion-label>
        </ion-button>

        <ion-button
          [fill]="invalid ? 'clear' : 'solid'"
          [disabled]="!selectedDerivation"
          (click)="onSelect()"
          (keyup.enter)="onSelect()"
          [color]="auth ? 'danger' : 'tertiary'"
        >
          <ion-label translate>{{ auth ? 'AUTH.BTN_AUTH' : 'COMMON.BTN_LOGIN' }}</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
