ion-list {
  margin: 16px;
  padding: 0;
}

ion-item {
  border: 1px solid var(--ion-color-medium);
  border-radius: 8px;
  margin-bottom: 8px;
  padding: 16px;
  background-color: var(--ion-background-color);
}

ion-item ion-label {
  display: flex;
  flex-direction: column;
}

ion-item ion-label div {
  margin-bottom: 4px;
}

ion-button {
  --background: var(--ion-color-primary);
  --background-activated: var(--ion-color-primary-shade);
  --background-focused: var(--ion-color-primary-shade);
  --background-hover: var(--ion-color-primary-shade);
  --color: #fff;
  border-radius: 8px;
  padding: 8px 16px;
  margin: 16px;
}

ion-progress-bar {
  --progress-background: var(--ion-color-light);
  --progress-bar-background: var(--ion-color-primary);
  height: 4px;
}

ion-radio {
  --color-checked: var(--ion-color-primary);
  --color-unchecked: var(--ion-color-medium);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

ion-radio div {
  margin-bottom: 4px;
}

.derivation-item {
  justify-content: space-between;
  align-items: center;

  label {
    flex: 1;
    margin-right: 10px;
  }

  radio {
    margin-left: auto;
  }
}
