<form [formGroup]="form">
  <ion-list>
    <ion-item lines="none">
      <p [innerHTML]="helpMessage|translate"></p>

    </ion-item>

    <ion-item>
      <ion-input [formControl]="control"
                 [label]="'AUTH.PASSPHRASE'|translate"
                 [maxlength]="maxLength"
                 [minlength]="minLength"
                 (ionChange)="onChange($event)"
                 [maskito]="codeMask"
                 [maskitoElement]="maskPredicate"
                 required></ion-input>
      <ion-icon slot="end" name="checkmark" *ngIf="$valid|async"></ion-icon>
    </ion-item>

    <ion-item *ngIf="debug && expectedCode" lines="none">
      <ion-text color="primary">
        <small>expected: {{expectedCode}}</small>
      </ion-text>
    </ion-item>
  </ion-list>
</form>
