# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace
.DS_Store
.idea
Thumbs.db
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

*.log
log.txt
npm-debug.log*
yarn.lock

/.angular
/.idea
/.gradle
/.ionic
/.sass-cache
/.sourcemaps
/.versions
/.vscode
/.local
/coverage
/dist
/release
/node_modules
/www
/out-tsc/
