<app-toolbar visible-xs visible-sm>
  <ion-button mat-icon-button [matMenuTriggerFor]="matmenu">
    <mat-icon slot="icon-only">public</mat-icon>
  </ion-button>
</app-toolbar>

<!-- change locale menu -->
<mat-menu #matmenu="matMenu">
  <button mat-menu-item (click)="changeLanguage('en')">
    <mat-icon>flag</mat-icon>
    <ion-label>
      English
    </ion-label>
  </button>
  <button mat-menu-item (click)="changeLanguage('fr')">
    <mat-icon>flag</mat-icon>
    <ion-label>
      Français
    </ion-label>
  </button>
</mat-menu>

<ion-content [ngStyle]="contentStyle"
             class="no-padding-xs"
             align-self-center
             >
    <!-- loading spinner -->
    <div class="loading-page" [class.hidden]="!loading">
      <div class="spinner" *ngIf="loading && showSpinner">
        <p>Loading...</p>
        <div class="sk-cube1 sk-cube"></div>
        <div class="sk-cube2 sk-cube"></div>
        <div class="sk-cube4 sk-cube"></div>
        <div class="sk-cube3 sk-cube"></div>
      </div>
    </div>

    <div hidden-xs hidden-sm>
      <ion-toolbar translucent>
        <ion-buttons slot="end">
          <!-- change locale button -->
          <ion-button color="secondary" fill="solid" [matMenuTriggerFor]="matmenu">
            <mat-icon slot="start">public</mat-icon>
            <ion-label>&nbsp;{{ currentLocaleCode | uppercase }}</ion-label>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </div>

    <ion-card @fadeInAnimation *ngIf="!loading">
      <ion-card-content>
        <ion-text color="primary">
          <img src="./assets/img/logo_200px.png" [title]="'APP_NAME'|translate" />
          <br/>
          <h1 [innerHTML]="'HOME.WELCOME'|translate"></h1>
          <span [innerHTML]="'HOME.DESCRIPTION'|translate"></span>
        </ion-text>
      </ion-card-content>

      <ion-footer>
        <ion-label *ngIf="!isLogin">
          <br/>
          <span translate>HOME.REGISTER_HELP</span>
        </ion-label>

        <ion-button expand="block" color="primary" *ngIf="!isLogin" (click)="register()">
          <span translate>HOME.BTN_REGISTER</span>
        </ion-button>

        <ion-button expand="block" color="light" [routerLink]="['/account']" *ngIf="!isLogin">
          <span translate>AUTH.BTN_LOGIN</span>
        </ion-button>

        <ion-button expand="block" color="secondary" [routerLink]="['/account']" *ngIf="isLogin">
          <ion-icon name="contact" slot="start"></ion-icon>
          <span translate>HOME.BTN_MY_ACCOUNT</span>
        </ion-button>

        <p *ngIf="isLogin" ion-text color="primary" class="hidden-xs hidden-sm">
          <span [innerHTML]="'HOME.NOT_THIS_ACCOUNT_QUESTION' | translate: {displayName: displayName}"></span>
          <br/>
          <a ion-text color="danger" href="#" (click)="logout($event)">
            <span translate>HOME.BTN_DISCONNECT</span>
          </a>
        </p>
      </ion-footer>
    </ion-card>

  <p class="hidden-xs">&nbsp;</p>

</ion-content>
