<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button *ngIf="!canGoBack"></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ title$ | push }}</ion-title>
  </ion-toolbar>
  <ion-progress-bar type="indeterminate" *rxIf="loading$"></ion-progress-bar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" *ngIf="mobile">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ title$ | push }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-header [translucent]="true">
    <ion-item color="secondary" lines="none">
      <ion-icon aria-hidden="true" slot="start" name="ribbon"></ion-icon>
      <ion-label *rxIf="side$; let side">
        {{ (side === 'received' ? 'WOT.CERTIFICATIONS.RECEIVED' : 'WOT.GIVEN_CERTIFICATIONS.SENT') | translate }}
      </ion-label>
      <ion-badge color="success" slot="end">{{ count$ | push }}</ion-badge>
    </ion-item>
  </ion-header>

  <ion-list *rxLet="side$; let side">
    <ion-item *rxIf="error$; let error" lines="none" color="light">
      <ion-icon slot="start" name="alert-circle" color="danger"></ion-icon>
      <ion-label color="danger">{{ error | translate }}</ion-label>
    </ion-item>

    <!-- Certification items -->
    <ion-item
      *rxFor="let item of items$; index as index; trackBy: 'id'"
      (click)="showAccount($event, item.account)"
      class="ion-activatable ion-focusable"
      tappable
    >
      <ion-avatar slot="start">
        <app-account-image [account]="item.account"></app-account-image>
      </ion-avatar>
      <ion-label *rxLet="item.account | isMemberAccount; let isMember">
        <h3>
          <a
            [routerLink]="['/wot', item.account.address]"
            routerDirection="forward"
            (click)="showAccount($event, item.account)"
            class="tx-account"
            [class.member]="isMember"
          >
            {{ item.account | accountName }}
          </a>
        </h3>
        <p>
          <ion-icon name="key"></ion-icon>
          {{ item.account.address | addressToPubkeyV1 | pubkeyFormat: true }} |
          <a [routerLink]="['/block', item.createdOn]" routerDirection="forward" (click)="$event.preventDefault()" class="tx-timestamp">
            {{ 'COMMON.BLOCK' | translate }} #{{ item.updatedOn | blockNumber }}
          </a>
        </p>
      </ion-label>

      <ion-badge *rxIf="item.expireOn" [color]="'light'" slot="end">{{ item.expireOn | blockTime | dateFromNow }}</ion-badge>
    </ion-item>

    <!-- loading spinner -->
    <ng-container *rxIf="loading$; else noResult">
      <ng-template [ngTemplateOutlet]="itemSkeleton"></ng-template>
    </ng-container>

    <!-- no result -->
    <ng-template #noResult>
      <ion-item *rxIf="(count$ | push) === 0" lines="none">
        <ion-text color="danger" class="text-italic" translate>COMMON.SEARCH_NO_RESULT</ion-text>
      </ion-item>
    </ng-template>
  </ion-list>

  <!-- infinite scroll -->
  <ion-infinite-scroll
    [disabled]="(canFetchMore$ | async) === false"
    [threshold]="mobile ? '100px' : '2%'"
    position="bottom"
    (ionInfinite)="fetchMore($event)"
  >
    <ion-infinite-scroll-content loading-spinner="none">
      <ng-template [ngTemplateOutlet]="itemSkeleton"></ng-template>
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<ion-modal #authModal [backdropDismiss]="false">
  <ng-template>
    <ion-content scrollY="false">
      <app-auth-modal></app-auth-modal>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-fab slot="fixed" vertical="bottom" horizontal="end" *ngIf="mobile">
  <ion-fab-button color="danger" (click)="addCertification()">
    <ion-icon name="ribbon"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ng-template #itemSkeleton>
  <ion-item>
    <ion-icon slot="start" name="card"></ion-icon>
    <ion-label>
      <h3><ion-skeleton-text animated style="width: 20%"></ion-skeleton-text></h3>
      <p><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></p>
    </ion-label>
  </ion-item>
</ng-template>
