<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title translate>TRANSFER.TITLE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" translate>TRANSFER.TITLE</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">

    <ion-list>
      <!-- error -->
      <ion-item *ngIf="error" lines="none" color="light" class="error">
        <ion-icon slot="start" name="alert-circle" color="danger"></ion-icon>
        <ion-label color="danger">{{error|translate}}</ion-label>
      </ion-item>

      <!-- TO -->
      <ion-item>
        <ion-label color="medium" translate>TRANSFER.TO</ion-label>
        <ion-textarea *ngIf="data|async|isNotEmptyArray; else inputSkeleton"
                   [rows]="mobile ? 2 : 1"
                   class="ion-text-wrap ion-text-end"
                   [(ngModel)]="recipient.address" (ionFocus)="wotModal.present()">
        </ion-textarea>
        <ion-button slot="end" fill="clear" id="open-modal-trigger"
                    [class.cdk-visually-hidden]="loading || mobile"
                    [disabled]="loading"
                    [title]="'COMMON.BTN_SEARCH'|translate">
          <ion-icon slot="icon-only" name="search"></ion-icon>
        </ion-button>
        <ion-button slot="end" fill="clear" color="dark"
                    *ngIf="_capacitor"
                    (click)="scanRecipient($event)"
                    [disabled]="loading">
          <ion-icon slot="icon-only" name="qr-code"></ion-icon>
        </ion-button>
      </ion-item>

      <!-- FROM -->
      <ion-item tappable>
        <ion-label color="medium" translate>TRANSFER.FROM</ion-label>
        <ng-container *ngIf="loading; else select">
          <ng-container *ngTemplateOutlet="inputSkeleton"></ng-container>
        </ng-container>
        <ng-template #select>
          <ng-container *ngIf="data|async; let accounts; else inputSkeleton">
            <ion-select [compareWith]="compareWith"
                        [selectedText]="issuer|accountName"
                        [(ngModel)]="issuer"
                        [interface]="mobile ? 'action-sheet' : 'popover'"
                        [interfaceOptions]="mobile ? actionSheetOptions : popoverOptions"
                        [okText]="'COMMON.BTN_OK'|translate"
                        [cancelText]="'COMMON.BTN_CANCEL'|translate">
              <ion-select-option *ngFor="let account of accounts"
                                 [value]="account"
                                 [disabled]="!(account|balance)">
                {{account|accountName}}
                <span *ngIf="account|balance; let balance">({{balance|amountFormat}})</span>
              </ion-select-option>
            </ion-select>
            <ion-badge *ngIf="issuer|balance; let balance" slot="end"
              [color]="amount+fee>balance/100 ? 'danger' : 'success'">
              {{balance|amountFormat}}
            </ion-badge>
          </ng-container>
        </ng-template>
      </ion-item>

      <ion-item>
        <ion-label color="medium"  translate>TRANSFER.AMOUNT</ion-label>
        <ion-input type="number" [(ngModel)]="amount"
                   class="ion-text-end">
        </ion-input>
        <ion-label color="medium" slot="end" *ngIf="currency">{{currency.symbol}}</ion-label>
      </ion-item>

      <ion-item lines="none">
<!--        <ion-toggle [(ngModel)]="showComment">-->
<!--        </ion-toggle>-->
<!--        <ion-label class="ion-text-start" color="medium" translate>TRANSFER.BTN_ADD_COMMENT</ion-label>-->
        <ion-badge slot="end" *ngIf="amount && fee">{{'TRANSFER.FEE'|translate:{fee: fee, currency: currency.symbol} }}</ion-badge>
      </ion-item>

      <ion-item  *ngIf="showComment">
        <ion-textarea [placeholder]="'TRANSFER.COMMENT_HELP'|translate" rows="5">

        </ion-textarea>
      </ion-item>
    </ion-list>

<!--    <div class="ion-text-center" *ngIf="!mobile">-->
<!--      <ng-container *ngTemplateOutlet="buttons"></ng-container>-->
<!--    </div>-->
    <ion-toolbar class="ion-text-center" [color]="'transparent'">
      <ng-container *ngTemplateOutlet="buttons"></ng-container>
    </ion-toolbar>
  </div>

  <ion-modal
    #wotModal
    trigger="open-modal-trigger"
    [initialBreakpoint]="0.25"
    [breakpoints]="[0.25, 0.5, 0.75]"
    [backdropDismiss]="false"
    [backdropBreakpoint]="0.5"
    [keepContentsMounted]="true"
  >
    <ng-template>
      <app-wot-lookup
        [showToolbar]="false"
        [showSearchBar]="true"
        [showItemActions]="false"
        (itemClick)="setRecipient($event) || wotModal.dismiss()"
        (searchClick)="wotModal.setCurrentBreakpoint(0.75)">
      </app-wot-lookup>
    </ng-template>
  </ion-modal>
</ion-content>

<!--<ion-footer *ngIf="mobile" class="ion-text-center">-->
<!--  <ng-container *ngTemplateOutlet="buttons"></ng-container>-->
<!--</ion-footer>-->

<ng-template #buttons>
  <ion-button (click)="cancel($event)" color="light"
              [disabled]="loading" *ngIf="!mobile">
    <ion-label translate>COMMON.BTN_CANCEL</ion-label>
  </ion-button>
  <ion-button (click)="qrCodeModal.present()"
              [disabled]="loading||invalid">
    <ion-icon slot="start" name="qr-code"></ion-icon>
    <ion-label translate>TRANSFER.BTN_QR_CODE</ion-label>
  </ion-button>
  <ion-button (click)="submit($event)" [disabled]="loading||invalid"
              color="tertiary">
    <ion-icon slot="start" name="paper-plane"></ion-icon>
    <ion-label translate>TRANSFER.BTN_SEND</ion-label>
  </ion-button>
</ng-template>

<ng-template #inputSkeleton>
  <ion-skeleton-text [animated]="true" style="width: 60%"></ion-skeleton-text>
</ng-template>

<ion-modal
  #qrCodeModal
  [backdropDismiss]="true"
  [presentingElement]="_presentingElement"
  [canDismiss]="true"
>
  <ng-template>
    <ion-content>
      <ion-header>
        <ion-toolbar *ngIf="mobile">
          <ion-buttons slot="end">
            <ion-button (click)="qrCodeModal.dismiss()" translate>COMMON.BTN_CLOSE</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <qr-code [value]="paymentData" [size]="250"></qr-code>
      <ion-item>
        <ion-icon slot="start" name="help-circle" color="tertiary"></ion-icon>
        <ion-label class="ion-text-wrap" translate>TRANSFER.QR_CODE_HELP</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" name="warning" color="danger" lines="none"></ion-icon>
        <ion-label class="ion-text-wrap" [innerHTML]="'INFO.FEATURES_NOT_IMPLEMENTED'|translate"></ion-label>
      </ion-item>
    </ion-content>
  </ng-template>
</ion-modal>


<ion-modal
  #notImplementedModal
  [backdropDismiss]="true"
  [presentingElement]="_presentingElement"
  [canDismiss]="true"
>
  <ng-template>
    <ion-content>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="end">
            <ion-button (click)="notImplementedModal.dismiss()" translate>COMMON.BTN_CLOSE</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-item>
        <ion-icon slot="start" name="warning" color="danger" lines="none"></ion-icon>
        <ion-label class="ion-text-wrap" [innerHTML]="'INFO.FEATURES_NOT_IMPLEMENTED'|translate"></ion-label>
      </ion-item>
    </ion-content>
  </ng-template>
</ion-modal>
