<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title translate>TRANSFER.TITLE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *rxLet="loading$ as loading">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" translate>TRANSFER.TITLE</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <!-- error -->
    <ion-item *rxIf="error$; let error" lines="none" color="light" class="error">
      <ion-icon slot="start" name="alert-circle" color="danger"></ion-icon>
      <ion-label color="danger">{{ error | translate }}</ion-label>
    </ion-item>

    <!-- TO -->
    <ion-item *rxIf="recipient$; let recipient; suspense: skeletonItem">
      <!--      <ion-label color="medium" translate>TRANSFER.TO</ion-label>-->
      <ion-textarea
        [rows]="mobile ? 2 : 1"
        [tabIndex]="mobile ? -1 : 1"
        [label]="'TRANSFER.TO' | translate"
        class="ion-text-nowrap"
        [(ngModel)]="recipient.address"
        required
      ></ion-textarea>

      <ion-button slot="end" fill="clear" [disabled]="loading" [title]="'COMMON.BTN_SEARCH' | translate" (click)="openWotModal($event)">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>

      <!-- Scan QR code-->
      <ion-button slot="end" fill="clear" color="dark" *ngIf="_enableScan" (click)="scanRecipient($event)" [disabled]="loading">
        <ion-icon slot="icon-only" name="qr-code"></ion-icon>
      </ion-button>

      <ion-note slot="error" *rxIf="submitted$" translate>ERROR.FIELD_REQUIRED</ion-note>
    </ion-item>

    <!-- from -->
    <ion-item *rxIf="accounts$; let accounts; suspense: skeletonItem" (click)="selectAccount($event)" tappable>
      <ion-input [(ngModel)]="accountName" [debounce]="450" [label]="'TRANSFER.FROM' | translate" readonly required></ion-input>

      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>

      <ion-note slot="error" *rxIf="submitted$" translate>ERROR.FIELD_REQUIRED</ion-note>
    </ion-item>

    <!-- amount -->
    <ion-item>
      <ion-input type="number" [(ngModel)]="amount" [label]="'TRANSFER.AMOUNT' | translate" required></ion-input>
      <ion-note color="medium" slot="end" *rxIf="currency$; let currency">{{ currency.symbol }}</ion-note>
      <ion-note slot="error" *rxIf="submitted$" translate>ERROR.FIELD_REQUIRED</ion-note>
    </ion-item>

    <ion-item lines="none">
      <!--        <ion-toggle [(ngModel)]="showComment">-->
      <!--        </ion-toggle>-->
      <!--        <ion-label class="ion-text-start" color="medium" translate>TRANSFER.BTN_ADD_COMMENT</ion-label>-->
      <ion-badge slot="end" *ngIf="amount && fee" color="medium">
        {{ 'TRANSFER.FEE' | translate: { fee: fee, currency: currency.symbol } }}
      </ion-badge>
    </ion-item>

    <ion-item *ngIf="showComment">
      <ion-textarea [placeholder]="'TRANSFER.COMMENT_HELP' | translate" rows="5"></ion-textarea>
    </ion-item>
  </ion-list>

  <!--    <div class="ion-text-center" *ngIf="!mobile">-->
  <!--      <ng-container *ngTemplateOutlet="buttons"></ng-container>-->
  <!--    </div>-->
  <ion-toolbar class="ion-text-center" [color]="'transparent'">
    <ng-container *ngTemplateOutlet="buttons"></ng-container>
  </ion-toolbar>
</ion-content>

<!--<ion-footer *ngIf="mobile" class="ion-text-center">-->
<!--  <ng-container *ngTemplateOutlet="buttons"></ng-container>-->
<!--</ion-footer>-->

<ng-template #buttons>
  <ion-button (click)="cancel()" color="light" *ngIf="!mobile">
    <ion-label translate>COMMON.BTN_CANCEL</ion-label>
  </ion-button>
  <ion-button (click)="qrCodeModal.present()" [disabled]="loading || invalid">
    <ion-icon slot="start" name="qr-code"></ion-icon>
    <ion-label translate>TRANSFER.BTN_QR_CODE</ion-label>
  </ion-button>
  <ion-button (click)="doSubmit()" [disabled]="loading || invalid" color="tertiary">
    <ion-icon slot="start" name="paper-plane"></ion-icon>
    <ion-label translate>TRANSFER.BTN_SEND</ion-label>
  </ion-button>
</ng-template>

<ng-template #skeletonItem>
  <ion-item>
    <ion-icon slot="start" name="none"></ion-icon>
    <ion-label>
      <ion-skeleton-text [animated]="true" style="width: 60%"></ion-skeleton-text>
    </ion-label>
  </ion-item>
</ng-template>

<ion-modal #qrCodeModal [backdropDismiss]="true" [presentingElement]="_presentingElement" [canDismiss]="true">
  <ng-template>
    <ion-content>
      <ion-header>
        <ion-toolbar *ngIf="mobile">
          <ion-buttons slot="end">
            <ion-button (click)="qrCodeModal.dismiss()" translate>COMMON.BTN_CLOSE</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <qr-code [value]="paymentData" [size]="250"></qr-code>
      <ion-item>
        <ion-icon slot="start" name="help-circle" color="tertiary"></ion-icon>
        <ion-label class="ion-text-wrap" translate>TRANSFER.QR_CODE_HELP</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" name="warning" color="danger" lines="none"></ion-icon>
        <ion-label class="ion-text-wrap" [innerHTML]="'INFO.FEATURES_NOT_IMPLEMENTED' | translate"></ion-label>
      </ion-item>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal #notImplementedModal [backdropDismiss]="true" [presentingElement]="_presentingElement" [canDismiss]="true">
  <ng-template>
    <ion-content>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="end">
            <ion-button (click)="notImplementedModal.dismiss()" translate>COMMON.BTN_CLOSE</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-item>
        <ion-icon slot="start" name="warning" color="danger" lines="none"></ion-icon>
        <ion-label class="ion-text-wrap" [innerHTML]="'INFO.FEATURES_NOT_IMPLEMENTED' | translate"></ion-label>
      </ion-item>
    </ion-content>
  </ng-template>
</ion-modal>
