<ion-header [class]="class">
  <ion-toolbar [color]="color">

    <ion-buttons slot="start">
      <ion-button class="back-button" [class.can-go-back]="defaultBackHref" (click)="doBackClick($event)" routerDirection="back" *ngIf="canGoBack">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>

      <!-- <ion-back-button icon="arrow-back" [defaultHref]="defaultBackHref" (onClick)="onBackClick($event)" #backButton>
      </ion-back-button> -->

      <ion-menu-toggle [hidden]="canGoBack">
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>

      <ng-content select="[slot=start]"></ng-content>
    </ion-buttons>

    <ion-title [innerHTML]="title"></ion-title>

    <ion-buttons slot="end">

      <ng-content></ng-content>

      <!-- search bar -->
      <ion-searchbar #searchbar animated
                     type="search"
                     *ngIf="hasSearch"
                     [hidden]="!showSearchBar"
                     show-cancel-button="always"
                     (ionChange)="onSearch.emit($event)"
                     (ionCancel)="toggleSearchBar()">
      </ion-searchbar>

      <!-- search button -->
      <ion-button (click)="toggleSearchBar()"
                  *ngIf="hasSearch && !showSearchBar">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>

      <!-- validate button -->
      <ion-button (click)="onValidate.emit($event)" visible-xs visible-sm visible-mobile *ngIf="hasValidate">
        <ion-icon slot="icon-only" name="checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <mat-progress-bar [color]="color" [mode]="progressBarMode">
  </mat-progress-bar>
</ion-header>
