<ion-split-pane #splitPane>

  <ion-menu menuId="left">
    <ion-header>

      <mat-toolbar padding @fadeInAnimation *ngIf="!isLogin"
                   style="display: block; margin: auto; text-align: center;">
        <ion-label>
          <ion-text translate>APP_NAME</ion-text>
          <ion-text> {{currencySymbol$|async}}</ion-text>
        </ion-label>
      </mat-toolbar>

      <ion-toolbar @fadeInAnimation *ngIf="isLogin" class="ion-toolbar-top">
        <ion-grid>
          <ion-row>
            <ion-col size="4">
              <div class="user-avatar"
                   [class.primary]="!account?.avatar" [ngStyle]="{'background-image':'url('+(account?.avatar||'./assets/img/person.png')+')'}"
                   menuClose
                   [routerLink]="['/account']"
                   routerDirection="root"
                   routerLinkActive="ion-color-primary"
                   (click)="menu.close()">
              </div>
            </ion-col>
            <ion-col size="8" class="user-logo">
              <!-- TODO: replace with a QRCode -->
              <img src="./assets/img/logo_128px.png" [title]="'APP_NAME'|translate" width="108px;"/>
            </ion-col>
          </ion-row>
          <ion-row no-padding>

            <button mat-button menuClose
                        [routerLink]="['/account']"
                        routerDirection="root"
                        routerLinkActive="ion-color-primary"
                        (click)="menu.close()">
              <ion-label color="primary" text-wrap *ngIf="account?.lastName">
                <h3 full class="no-margin username" >
                  <b>{{account?.firstName}} {{account?.lastName}}</b>
                </h3>
                <h4>{{account?.email}}</h4>
              </ion-label>
              <ion-label color="medium" text-wrap *ngIf="!account || !account.lastName">
                <h4 padding >{{account?.pubkey}}</h4>
              </ion-label>
            </button>

          </ion-row>
        </ion-grid>

      </ion-toolbar>
    </ion-header>

    <ion-content [class.has-user-header]="isLogin">

      <ion-list lines="none">
        <ion-menu-toggle auto-hide="false" *ngFor="let item of filteredItems ; trackBy: trackByFn"
                         [class]="item.cssClass">

          <!-- link -->
          <ion-item *ngIf="!loading && item.path"
                    @fadeInAnimation
                    tappable class="text-1x"
                    [routerLink]="item.path"
                    routerDirection="root"
                    routerLinkActive="selected"
                    (click)="menu.close()"
                    [routerLinkActiveOptions]="{exact: (item.path == '/')}">
            <ion-icon slot="start" *ngIf="item.icon" [name]="item.icon"></ion-icon>
            <mat-icon slot="start" *ngIf="item.matIcon">{{item.matIcon}}</mat-icon>
            <ion-label translate>{{item.title}}</ion-label>
          </ion-item>

          <!-- action -->
          <ion-item @fadeInAnimation
                    *ngIf="!loading && item.action"
                    tappable class="text-1x"
                    (click)="menu.close() && doAction(item.action)">
            <ion-icon slot="start" *ngIf="item.icon" [name]="item.icon"></ion-icon>
            <mat-icon slot="start" *ngIf="item.matIcon">{{item.matIcon}}</mat-icon>
            <ion-label translate>{{item.title}}</ion-label>
          </ion-item>

          <!-- divider -->
          <ion-item-divider @fadeInAnimation *ngIf="!loading && !item.path && !item.action">
            <ion-label translate>{{item.title}}</ion-label>
          </ion-item-divider>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>


    <ion-footer class="hidden-xs hidden-sm">
      <ion-toolbar>

        <ion-buttons slot="start" >
          <ion-button mat-icon-button color="accent" (click)="openAboutModal($event)">
<!--            <ion-icon slot="icon-only" name="help-circle-outline"></ion-icon>-->
            <mat-icon slot="icon-only">help_outline</mat-icon>
          </ion-button>
        </ion-buttons>

        <ion-title (click)="openAboutModal($event)" color="medium">
          {{'MENU.FOOTER_VERSION_ABOUT'| translate: {version: appVersion} }}
        </ion-title>

        <ion-buttons slot="end">
          <ion-button color="accent" (click)="toggleSplitPane($event)"
                      hidden-xs hidden-sm
                      [title]="(splitPaneOpened ? 'COMMON.BTN_HIDE_MENU' : 'COMMON.BTN_SHOW_MENU') |translate">
            <h2 slot="icon-only">{{splitPaneOpened ? '&#xab;' : '&#xbb;'}}</h2>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-footer>
  </ion-menu>

  <ng-content></ng-content>

</ion-split-pane>

