<form
  [formGroup]="form"
  novalidate
  (ngSubmit)="doSubmit($event)"
  class="form-container ion-padding"
  (keyup.enter)="doSubmit($event)"
>
  <ion-list>
    <!-- error -->
    <ion-item lines="none" *ngIf="error && !loading" @slideUpDownAnimation>
      <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
      <ion-label color="danger" class="error" [innerHTML]="error | translate"></ion-label>
    </ion-item>

    <!-- Mnemonic -->
    <ion-item>
      <ion-textarea
        *ngIf="showMnemonic; else hideMnemonic"
        formControlName="mnemonic"
        [label]="'LOGIN.MNEMONIC' | translate"
        labelPlacement="floating"
        autocomplete="off"
        required
      ></ion-textarea>
      <ng-template #hideMnemonic>
        <ion-textarea
          formControlName="mnemonic"
          type="password"
          [label]="'LOGIN.MNEMONIC' | translate"
          labelPlacement="floating"
          autocomplete="off"
          required
        ></ion-textarea>
      </ng-template>

      <!-- show/hide button -->
      <ion-button slot="end" (click)="toggleShowMnemonic($event)" fill="clear" color="medium" [tabindex]="-1">
        <ion-icon slot="icon-only" [name]="showMnemonic ? 'eye-off' : 'eye'"></ion-icon>
      </ion-button>
    </ion-item>

    <!-- Address -->
    <ion-item *ngIf="address; let address" @slideUpDownAnimation>
      <ion-textarea
        [value]="address"
        [label]="'COMMON.ADDRESS' | translate"
        labelPlacement="floating"
        [disabled]="true"
      ></ion-textarea>
    </ion-item>
  </ion-list>

  <!-- Not register yet ? -->
  <p *ngIf="canRegister" class="ion-padding ion-text-center">
    <span translate>LOGIN.NO_ACCOUNT_QUESTION</span>
    <br />
    <a (click)="register()">
      <span translate>LOGIN.CREATE_ACCOUNT</span>
    </a>
  </p>
</form>
