<!-- readonly -->
<mat-form-field *ngIf="readonly">
  <input matInput hidden type="text" readonly="true" [formControl]="formControl">
  <ion-text>{{formControl.value|dateFormat: {pattern: displayPattern} }}</ion-text>
</mat-form-field>

<!-- writable + no time (day without time) -->
<mat-form-field [floatLabel]="floatLabel" [formGroup]="form" *ngIf="!readonly && !displayTime">

  <mat-label>{{placeholder}}</mat-label>

  <input matInput autocomplete="off" type="text"
         [textMask]="{mask: dayMask, keepCharPositions: true, placeholderChar: placeholderChar}"
         formControlName="day"
         [placeholder]="'COMMON.DATE_PLACEHOLDER'|translate"
         (blur)="checkIfTouched()"
         (keyup.arrowdown)="openDatePicker($event, datePicker1)"
         (keyup.escape)="preventEvent($event)"
         (tap)="openDatePickerIfMobile($event)"
         [required]="required"
         [tabindex]="tabindex">
  <input matInput type="text" [formControl]="formControl" hidden [matDatepicker]="datePicker1" (dateChange)="onDatePickerChange($event)">

  <button type="button" matSuffix (click)="openDatePicker($event, datePicker1)" mat-icon-button tabindex="-1" [disabled]="formControl.disabled">
    <mat-icon>keyboard_arrow_down</mat-icon>
  </button>
  <mat-datepicker [touchUi]="mobile" [disabled]="formControl.disabled" #datePicker1></mat-datepicker>

  <mat-error *ngIf="formControl.hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
  <mat-error *ngIf="formControl.hasError('validDate')" translate>ERROR.FIELD_NOT_VALID_DATE</mat-error>
  <ng-content select="mat-error"></ng-content>
</mat-form-field>

<!-- writable + time -->
<ion-grid no-padding *ngIf="!readonly && displayTime">
  <ion-row no-padding [formGroup]="form" nowrap>

    <!-- day -->
    <ion-col no-padding class="day">
      <mat-form-field [floatLabel]="floatLabel" [class.mat-form-field-invalid]="formControl.touched && formControl.invalid">

        <mat-label>{{placeholder}}</mat-label>

        <input matInput autocomplete="off" type="text"
               *ngIf="!mobile"
               formControlName="day"
               [textMask]="{mask: dayMask, keepCharPositions: true, placeholderChar: placeholderChar}"
               [placeholder]="'COMMON.DATE_PLACEHOLDER'|translate"
               (blur)="checkIfTouched()"
               (keyup.arrowdown)="openDatePicker($event, datePicker2)"
               (keyup.escape)="preventEvent($event)"
               [required]="required"
               [tabindex]="tabindex">
        <input matInput autocomplete="off" type="text"
               *ngIf="mobile"
               formControlName="day"
               (click)="openDatePickerIfMobile($event, datePicker2)"
               [required]="required"
               [tabindex]="tabindex"
               readonly>
        <input matInput type="text" [formControl]="formControl"
               hidden
               [matDatepicker]="datePicker2"
               (dateChange)="onDatePickerChange($event)">

        <button type="button" mat-icon-button tabindex="-1" matSuffix #datePickerButton2 (click)="openDatePicker($event, datePicker2)" [disabled]="formControl.disabled">
          <mat-icon *ngIf="!mobile">keyboard_arrow_down</mat-icon>
          <mat-icon *ngIf="!mobile">calendar</mat-icon>
        </button>
        <mat-datepicker [touchUi]="mobile" [disabled]="formControl.disabled" #datePicker2></mat-datepicker>

      </mat-form-field>
      <div class="mat-form-field-subscript mat-form-field-subscript-wrapper" >
        <!-- errors -->
        <ng-container *ngIf="formControl.touched">
          <mat-error *ngIf="formControl.hasError('required')"
            translate>ERROR.FIELD_REQUIRED</mat-error>
          <mat-error *ngIf="formControl.hasError('validDate')"
            translate>ERROR.FIELD_NOT_VALID_DATE_TIME</mat-error>
          <mat-error *ngIf="formControl.hasError('dateIsAfter')" translate>ERROR.FIELD_NOT_VALID_DATE_AFTER</mat-error>
          <mat-error *ngIf="!formControl.hasError('dateIsAfter') && formControl.hasError('dateMaxDuration')" translate>ERROR.FIELD_NOT_VALID_DATE_MAX_DURATION</mat-error>
          <mat-error *ngIf="!formControl.hasError('dateIsAfter') && formControl.hasError('dateMinDuration')" translate>ERROR.FIELD_NOT_VALID_DATE_MIN_DURATION</mat-error>
          <mat-error *ngIf="formControl.hasError('msg')">{{formControl.errors['msg']}}</mat-error>
        </ng-container>

        <!-- mat hint -->
        <div class="mat-form-field-hint-wrapper" [hidden]="formControl.invalid">
          <div class="mat-form-field-hint-spacer"></div>
          <ng-content select="mat-hint"></ng-content>
        </div>
      </div>

    </ion-col>

    <!-- hour -->
    <ion-col no-padding class="hour">
      <mat-form-field [floatLabel]="floatLabel" [class.mat-form-field-invalid]="formControl.touched && form.controls.hour.invalid">
        <mat-label *ngIf="placeholder && floatLabel != 'never'" translate>COMMON.TIME</mat-label>
        <input matInput type="text"
               autocomplete="off"
               min="0" max="23"
               *ngIf="!mobile"
               formControlName="hour"
               [textMask]="{mask: hourMask, keepCharPositions: true, placeholderChar: placeholderChar, guide: true}"
               [placeholder]="'COMMON.TIME_PLACEHOLDER'|translate"
               [required]="required"
               (keyup.arrowdown)="openTimePicker($event)"
               (keyup.escape)="preventEvent($event)"
               (blur)="checkIfTouched()"
               [tabindex]="tabindex !== undefined ? tabindex+1 : undefined">

        <input matInput type="text"
               formControlName="hour"
               [hidden]="!mobile"
               [ngxTimepicker]="timePicker"
               [format]="24"
               (click)="openTimePickerIfMobile($event)"
               readonly>

        <button *ngIf="!compact" type="button" matSuffix #timePickerButton (click)="openTimePicker($event)" mat-icon-button tabindex="-1" [disabled]="formControl.disabled">
          <mat-icon>keyboard_arrow_down</mat-icon>
        </button>

        <! TODO: Add [disableAnimation]="true" -->
        <ngx-material-timepicker #timePicker
                                 [@fadeInAnimation]
                                 [ngxMaterialTimepickerTheme]="darkTheme"
                                 (timeSet)="onTimePickerChange($event)"
                                 [ESC]="false"
                                 defaultTime="00:00"
                                 [cancelBtnTmpl]="timePickerCancelButton"
                                 [confirmBtnTmpl]="timePickerOkButton"
                                 [preventOverlayClick]="false"
                                 [enableKeyboardInput]="false"
                                 (keyup.escape)="onTimePickerKeyup($event)"
                                 (keyup.enter)="onTimePickerKeyup($event)"
                                 (timeSet)="timePickerOkButton.disabled=false">
          <!-- cancel button -->
          <ng-template #timePickerCancelButton>
            <ion-button fill="clear" color="dark">
              <ion-label translate>COMMON.BTN_CANCEL</ion-label>
            </ion-button>
          </ng-template>

          <!-- confirm button -->
          <ng-template #timePickerOkButton>
            <ion-button fill="clear">
              <ion-label translate>COMMON.BTN_VALIDATE</ion-label>
            </ion-button>
          </ng-template>

        </ngx-material-timepicker>
      </mat-form-field>
    </ion-col>

  </ion-row>


</ion-grid>
