  :host {
    [no-padding] {
      --ion-grid-column-padding: 0;
    }

    [nowrap] {
      flex-wrap: nowrap;
    }
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  mat-form-field {
    .datetime-md {
      padding: 0 !important;
    }
  }

  ion-col.day {
    min-width: 100px;
    //max-width: 125px;

    .mat-form-field-subscript-wrapper {
      overflow: visible;
      right: -45px; // right offset to align hour
    }
  }

  ion-col.hour {
    min-width: 35px;
    max-width: 45px;

    mat-form-field {
      width: 100%;

      span,
      input[type=number] {
        text-align: end;
      }
    }
  }

  mat-form-field.mat-form-field-disabled {
    ion-col.day {
      min-width: 100px;
    }
  }

  .hour .mat-form-field-label {
    max-width: 40px;
  }

  .hour mat-form-field.mat-form-field-should-float .mat-form-field-placeholder {
    max-width: inherit;
  }

  mat-error {
    text-align: right;
    width: 100%
  }
