<mat-form-field [floatLabel]="floatLabel" >

  <input *ngIf="readonly" matInput hidden readonly="true" [formControl]="formControl">
  <span *ngIf="readonly" [innerHTML]="value | latLongFormat: {type: type, pattern: latLongPattern, maxDecimals: maxDecimals}"></span>

  <mat-label *ngIf="!mobile && !readonly && labelPlaceholder">{{labelPlaceholder}}</mat-label>
  <input *ngIf="!readonly" matInput type="text" [textMask]="{mask: mask, keepCharPositions: true, maxDecimals: maxDecimals, placeholderChar: placeholderChar}"
    [formControl]="textFormControl" autocomplete="off" [placeholder]="inputPlaceholder|translate" (blur)="_onBlur($event)"
    [required]="required" [tabindex]="tabindex">

  <div matSuffix>
    <ng-content select="[matSuffix]"></ng-content>
  </div>
</mat-form-field>
<div class="mat-form-field-subscript mat-form-field-subscript-wrapper" *ngIf="!readonly && formControl.touched && formControl.invalid">
  <mat-error *ngIf="formControl.hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
  <mat-error *ngIf="formControl.hasError('latitude')" translate>ERROR.FIELD_NOT_VALID_LATITUDE</mat-error>
  <mat-error *ngIf="formControl.hasError('longitude')" translate>ERROR.FIELD_NOT_VALID_LONGITUDE</mat-error>
</div>
