<app-toolbar [title]="'WOT.SEARCH.TITLE'|translate"
             color="primary"
             (onSearch)="onSearchChange($event)">
  <ion-button (click)="onRefresh.emit()"
              [title]="'COMMON.BTN_REFRESH'|translate">
    <ion-icon slot="icon-only" name="refresh"></ion-icon>
  </ion-button>
</app-toolbar>

<ion-content no-padding>

  <mat-toolbar no-padding>

    <button mat-icon-button *ngIf="!selection.hasValue()" [title]="'COMMON.BTN_ADD'|translate" (click)="addRow()"
      [class.hidden]="!inlineEdition">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button color="light" *ngIf="!selection.hasValue()" [title]="'COMMON.BTN_REFRESH'|translate"
      (click)="onRefresh.emit()">
      <mat-icon>refresh</mat-icon>
    </button>
    <button mat-icon-button *ngIf="!selection.hasValue()" [title]="'COMMON.BTN_FILTER'|translate" (click)="filterExpansionPanel.toggle()">
      <mat-icon>search</mat-icon>
    </button>
    <button mat-icon-button color="light" *ngIf="selection.hasValue()" [title]="'COMMON.BTN_DELETE'|translate" (click)="deleteSelection()"
      [class.hidden]="!inlineEdition">
      <mat-icon>delete</mat-icon>
    </button>

    <!-- <mat-button-toggle value="edit" [title]="'COMMON.BTN_TABLE_EDIT'|translate" (change)="inlineEdition=inlineEditionBtn.checked"
      [disabled]="true" #inlineEditionBtn>
      <mat-icon>edit</mat-icon>
    </mat-button-toggle> -->

    <div class="toolbar-spacer"></div>

    <button mat-icon-button [title]="'COMMON.DISPLAYED_COLUMNS'|translate" (click)="openSelectColumnsModal($event)">
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-toolbar>

  <!-- <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button color="dark" *ngIf="!selection.hasValue()" [title]="'COMMON.BTN_ADD'|translate" (click)="addRow()">
        <ion-icon slot="icon-only" name="add" round></ion-icon>
      </ion-button>

    </ion-buttons>
  </ion-toolbar> -->

  <!-- search -->
  <mat-expansion-panel #filterExpansionPanel color="primary">
    <form class="form-container" [formGroup]="filterForm" (ngSubmit)="onRefresh.emit()" padding>
      <!-- search -->
      <mat-form-field>
        <input matInput type="search"
               formControlName="search"
               [placeholder]="'WOT.SEARCH.FILTER.SEARCH'|translate">
      </mat-form-field>

      <button mat-raised-button color="primary" (click)="onRefresh.emit(true)">{{'COMMON.BTN_SEARCH'|translate}}</button>
    </form>
  </mat-expansion-panel>

  <mat-table #table [dataSource]="dataSource" matSort matSortActive="uid" matSortDirection="asc"
    matSortDisableClear [trackBy]="trackByFn">

    <ng-container matColumnDef="select">
      <mat-header-cell class="hidden-xs hidden-sm" *matHeaderCellDef [class.hidden]="!inlineEdition">
        <mat-checkbox [hidden]="loading" (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
        <ion-spinner [ngClass]="{'center':true}" *ngIf="loading"></ion-spinner>
      </mat-header-cell>
      <mat-cell class="hidden-xs hidden-sm" *matCellDef="let row" [class.hidden]="!inlineEdition">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell class="hidden-xs hidden-sm" *matHeaderCellDef mat-sort-header>
        <span *ngIf="!loading">#</span>
      </mat-header-cell>
      <mat-cell class="hidden-xs hidden-sm" *matCellDef="let row">{{ row.currentData.id }}</mat-cell>
    </ng-container>

    <!-- avatar Column -->
    <ng-container matColumnDef="avatar">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <div class="avatar" [ngStyle]="{'background-image':'url('+row.currentData.avatar+')'}"></div>
      </mat-cell>
    </ng-container>

     <!-- uid  -->
     <ng-container matColumnDef="uid">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        <span translate>WOT.UID</span>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <ion-label [innerHTML]="row.currentData.uid | highlight: {search: searchText}">
        </ion-label>
      </mat-cell>
    </ng-container>

    <!-- additional fields -->
    <ng-container *ngFor="let field of additionalFields" [matColumnDef]="field.key">
      <mat-header-cell *matHeaderCellDef>
        <span [innerHTML]="field.label|translate"></span>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <ion-label [innerHTML]="row.currentData[field.key]"></ion-label>
      </mat-cell>
    </ng-container>

    <!-- pubkey  -->
    <ng-container matColumnDef="pubkey">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        <span translate>WOT.PUBKEY</span>
      </mat-header-cell>
      <mat-cell *matCellDef="let row" [title]="row.currentData.pubkey">
        <ion-label [innerHTML]="row.currentData.pubkey | highlight: {search: searchText}"></ion-label>
      </mat-cell>
    </ng-container>

    <!-- rev  -->
    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        <span translate>WOT.REGISTERED_SINCE</span>
      </mat-header-cell>
      <mat-cell *matCellDef="let row" >
        <ion-label>TODO</ion-label>
      </mat-cell>
    </ng-container>


    <!-- Actions buttons column -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef [hidden]="!inlineEdition">
        <span></span>
      </mat-header-cell>
      <mat-cell *matCellDef="let row" [hidden]="!inlineEdition">
        <button mat-icon-button small color="light" *ngIf="row.editing && row.id != -1" [title]="'COMMON.BTN_UNDO'|translate"
          (click)="cancelOrDelete($event, row)">
          <mat-icon>undo</mat-icon>
        </button>
        <button mat-icon-button small color="light" *ngIf="row.editing && row.id == -1" [title]="'COMMON.BTN_ADD'|translate"
          (click)="confirmAndAddRow($event, row)">
          <mat-icon>add</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" class="mat-row-disabled"
             (click)="clickRow($event, row)"></mat-row>
  </mat-table>

  <!-- Paginator  -->
  <ion-row no-padding>
    <ion-col></ion-col>
    <ion-col no-padding size="auto">
      <mat-paginator [length]="resultsLength" [pageSize]="20" [pageSizeOptions]="[20, 50, 100, 200]">
      </mat-paginator>
    </ion-col>
  </ion-row>

  <!--ion-fab right bottom>
    <button ion-fab color="light" (click)="openTripModal()"><ion-icon name="md-add"></ion-icon></button>
  </ion-fab-->
</ion-content>

<ion-footer hidden-xs hidden-sm *ngIf="inlineEdition">
  <form-buttons-bar (onCancel)="onRefresh.emit()" (onSave)="save()" [disabled]="loading || !dirty"></form-buttons-bar>
</ion-footer>

<ion-fab vertical="bottom" horizontal="end" visible-xs visible-sm>
  <ion-fab-button color="secondary" (click)="addRow()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
