ion-slides {
  height: calc(100% - var(--app-toolbar-height));

  ion-slide {
    align-items: flex-start !important;

    ion-text, p {
      font-size: 1rem;
    }

    .words {
      ion-text h4 {
        margin-top: 6px;
      }
    }
  }
}

.has-footer {
  height: calc(100% - var(--app-toolbar-height) - var(--app-footer-height));
}


