swiper-container {
  height: 100%;

  swiper-slide {
    align-items: flex-start !important;

    ion-text, p {
      font-size: 1rem;
    }

    .words {
      ion-text h4 {
        margin-top: 6px;
      }
    }
  }
}


