<ion-header [translucent]="true" *ngIf="showToolbar">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title translate>MENU.WOT</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" *ngIf="showToolbar">
    <ion-toolbar>
      <ion-title size="large" translate>MENU.WOT</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">

    <ion-searchbar *ngIf="showSearchBar"
                   #searchBar
                   inputmode="search"
                   autocomplete="off"
                   animated="true"
                   showClearButton="true"
                   [debounce]="debounceTime"
                   (ionClear)="markAsLoading()"
                   (ionInput)="markAsLoading()"
                   (ionChange)="searchChanged($event, $event.detail.value)"
                   (search)="searchChanged($event, searchBar.value)"
                   [placeholder]="'WOT.SEARCH_HELP'|translate"
                   (click)="searchClick.emit($event)">
    </ion-searchbar>

    <ion-list>

      <ng-container *ngIf="loading; else items">

        <ng-template [ngTemplateOutlet]="itemSkeleton"></ng-template>
        <ng-template [ngTemplateOutlet]="itemSkeleton"></ng-template>
        <ng-template [ngTemplateOutlet]="itemSkeleton"></ng-template>
      </ng-container>

      <ng-template #items>
        <ion-item-sliding *rxFor="let item of items$">
          <ion-item [detail]="!itemClick.observed" (click)="click(item)">
            <ion-avatar slot="start" *ngIf="item.meta?.avatar; else iconPerson">
              <ion-img [src]="item.meta?.avatar"></ion-img>
            </ion-avatar>
            <ng-template #iconPerson>
              <ion-avatar slot="start">
                <svg width="40" width="40" [data-jdenticon-value]="item.data?.randomId||item.address"></svg>
              </ion-avatar>
            </ng-template>
            <ion-label>
              <h2>{{item.meta?.name}}</h2>
              <p>{{item.address|addressFormat}}</p>
            </ion-label>
            <ion-button slot="end" *ngIf="showItemActions && !mobile" (click)="transfer(item)" [title]="'BTN_SEND_MONEY'|translate">
              <ion-icon slot="icon-only" name="paper-plane"></ion-icon>
            </ion-button>
          </ion-item>

          <ion-item-options *ngIf="mobile && showItemActions">
            <ion-item-option (click)="transfer(item)" [title]="'BTN_SEND_MONEY'|translate">
              <ion-icon slot="icon-only" name="paper-plane"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ng-template>

    </ion-list>
  </div>
</ion-content>


<ng-template #itemSkeleton>
  <ion-item>
    <ion-icon slot="start" name="person"></ion-icon>
    <ion-label>
      <h2><ion-skeleton-text animated style="width: 20%;"></ion-skeleton-text></h2>
      <p><ion-skeleton-text animated style="width: 50%;"></ion-skeleton-text></p>
    </ion-label>
  </ion-item>
</ng-template>
