<ion-header [translucent]="true" *ngIf="showToolbar">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button *ngIf="!canGoBack"></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title translate>MENU.WOT</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" *ngIf="showToolbar">
    <ion-toolbar>
      <ion-title size="large">{{ account$ | push | accountName }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-header [translucent]="true">
    <ion-item color="secondary" lines="none">
      <ion-avatar slot="start" *ngIf="account$ | push; let account" [style.background-color]="'white'">
        <ion-img *ngIf="account.meta?.avatar; let avatar; else: svgIcon" [src]="avatar"></ion-img>
        <ng-template #svgIcon>
          <svg [data-jdenticon-value]="account.data?.randomId || account.address"></svg>
        </ng-template>
      </ion-avatar>

      <ion-label>{{ account$ | push | accountName }}</ion-label>

      <div slot="end">
        <ion-label class="ion-text-end">
          <p translate>ACCOUNT.BALANCE</p>
          <h2 *rxIf="loaded$; else loadingText">
            <b>{{ account$ | push | balance | amountFormat }}</b>
          </h2>
          <ng-template #loadingText>
            <p translate>COMMON.LOADING</p>
          </ng-template>
        </ion-label>
      </div>
    </ion-item>
  </ion-header>

  <ion-list>
    <ng-container *rxIf="account$; let account; suspense: skeletons">
      <!-- pubkey -->
      <ion-item *ngIf="account?.meta?.publicKeyV1; let pubkey" (click)="copyPubkey($event)" tappable>
        <ion-icon slot="start" name="key"></ion-icon>

        <ion-label>
          <h2 translate>COMMON.PUBKEY</h2>
          <p class="ion-text-wrap">{{ pubkey | pubkeyFormat }}</p>
        </ion-label>

        <ion-button slot="end" fill="clear" [title]="'COMMON.COPY' | translate">
          <ion-icon slot="icon-only" name="copy"></ion-icon>
        </ion-button>
      </ion-item>

      <!-- address -->
      <ion-item (click)="copyAddress($event)" tappable>
        <ion-icon slot="start" name="key"></ion-icon>

        <ion-label>
          <h2 translate>COMMON.ADDRESS</h2>
          <p class="ion-text-wrap">
            <span>{{ account.address | addressFormat }}</span>
          </p>
        </ion-label>
        <ion-button slot="end" (click)="copyAddress($event)" fill="clear" [title]="'COMMON.COPY' | translate">
          <ion-icon slot="icon-only" name="copy"></ion-icon>
        </ion-button>
      </ion-item>

      <!-- TX history -->
      <ion-item detail [routerLink]="['/wot', 'tx', account.address, account.meta?.uid]" routerDirection="forward">
        <ion-icon aria-hidden="true" slot="start" name="card"></ion-icon>
        <ion-label translate>WOT.ACCOUNT_OPERATIONS</ion-label>
      </ion-item>
    </ng-container>
  </ion-list>

  <div class="ion-text-center">
    <ion-button (click)="transferTo()" [disabled]="loading">
      <ion-icon slot="start" name="paper-plane"></ion-icon>
      <ion-label translate>COMMON.BTN_SEND_MONEY</ion-label>
    </ion-button>
  </div>
</ion-content>

<ng-template #skeletons>
  <ion-item>
    <ion-icon slot="start" name="key"></ion-icon>
    <ion-label>
      <ion-skeleton-text [animated]="true" style="width: 60%"></ion-skeleton-text>
    </ion-label>
  </ion-item>
</ng-template>
