<ng-container *ngIf="data && data.id">
  <ion-card [@fadeInAnimation] color="light100">
    <ion-item>
      <ion-avatar slot="start">
        <img src="{{ (data.recorderPerson?.avatar || data.recorderDepartment?.logo ) || './assets/img/person.png' }}">
      </ion-avatar>
      <ion-label>
        <ion-text color="primary">
          <h2>
            <span translate>COMMON.RECORDER</span>
          </h2>
        </ion-text>
        <ion-text color="dark">
          <p>{{data.recorderPerson?.firstName}} {{data.recorderPerson?.lastName}}</p>
          <p>{{data.recorderDepartment?.label}}</p>
        </ion-text>
      </ion-label>
    </ion-item>

    <ion-card-content *ngIf="data">
      <!-- creation date -->
      <ion-text color="primary" *ngIf="data.creationDate">
        <ion-icon name="calendar"></ion-icon>&nbsp;
        <span translate>COMMON.CREATED_ON</span>
        <span>
          <b>{{ data.creationDate | dateFormat: {pattern: 'L LT'} }}</b>
        </span>
      </ion-text>

      <!-- update date -->
      <ng-container *ngIf="data.updateDate && data.updateDate != data.creationDate">
        <br />
        <ion-text color="primary">
          <ion-icon name="time"></ion-icon>&nbsp;
          <span translate>COMMON.UPDATED_ON</span>
          <span>&nbsp;{{ data.updateDate | dateFormat: {pattern: 'L LTS'} }}</span>
        </ion-text>
      </ng-container>
    </ion-card-content>
  </ion-card>
</ng-container>
