
.select-popover-large .popover-content{
  width: #{$app-popover-width} !important;
}

.login-method-popover{
  --width: #{$app-popover-width} !important;
}

.cdk-visually-hidden {
  display: none;
  visibility: hidden;
}

/* -- error message -- */
.item.error,
ion-item.error {
  ion-label {
    white-space: break-spaces !important;
  }
}

/* -- QR code -- */
qr-code {
  width: 100%;
  display: block;
  text-align: center;
}

ion-toolbar ion-menu-button {
  color: var(--ion-color-base-contrast);
}
.ios {
  ion-toolbar ion-menu-button {
    color: var(--ion-color-base-contrast, #000);
  }
}

ion-toolbar {
  user-select: none;


}

/* -- list -- */

@media screen and (min-width: $screen-md) {
  ion-list ion-item.ion-activatable {
    cursor: pointer !important;

    ion-input {
      cursor: pointer !important;
    }
  }
}
