
.select-popover-large .popover-content{
  width: #{$app-popover-width} !important;
}

.cdk-visually-hidden {
  display: none;
  visibility: hidden;
}

/* -- error message -- */
.item.error,
ion-item.error {
  ion-label {
    white-space: break-spaces !important;
  }
}

/* */
ion-toolbar {
  --ion-toolbar-background: var(--ion-color-base);
}
