
.select-popover-large .popover-content{
  width: #{$app-popover-width} !important;
}

.cdk-visually-hidden {
  display: none;
  visibility: hidden;
}

/* -- error message -- */
.item.error,
ion-item.error {
  ion-label {
    white-space: break-spaces !important;
  }
}

/* -- QR code -- */
qr-code {
  --size: min(350px, 80vw);
  width: 100%;
  height: var(--size);
  display: block;
  text-align: center;
  img {
    width: var(--size);
    height: var(--size);
  }
}

ion-toolbar ion-menu-button {
  color: var(--ion-color-base-contrast);
}

ion-toolbar {
  user-select: none;

  ion-title.balance {
    font-weight: bold;
  }
}
