// Global Utility Functions
@import "functions";
@import "mixins";
@import "responsive";
@import '~@ionic/core/dist/collection/themes/ionic.globals';

// --------------------------------------------------
// Import Ion Icons
// --------------------------------------------------
$ionicons-font-path: '~ionicons/dist/fonts';
@import 'icons';
// --------------------------------------------------
// Import Fonts
// --------------------------------------------------
$roboto-font-path: '~roboto-fontface/fonts/roboto';
@import 'roboto';
// --------------------------------------------------
// Shared Variables
// --------------------------------------------------
$app-direction: ltr !default;
// --------------------------------------------------
// Theme Colors
// --------------------------------------------------
// Ionic colors
$primary: #144391;
$primary100: #718dbc;
$primary900: #0e2e63;
$secondary: #75C4FD;
$secondary100: #abdbfe;
$secondary900: #5086ad;
$tertiary: #5b5ef4;
$accent: #ff4081;
$success: #10dc60;
$warning: #ffce00;
$danger: #f53d3d;
$danger100: #f98989;
$danger900: #a82a2a;
$light: #f4f5f8;
$medium: #989aa2;
$dark: #222428;
// User defined colors
$transparent: transparent;
$lightBorder: rgba(0, 0, 0, .12);
// Main background color
$background-color: #fff;
// Text color
$dark-primary-text: rgba(black, 0.87);
$dark-secondary-text: rgba(black, 0.54);
$dark-disabled-text: rgba(black, 0.38);
$light-primary-text: white;
$light-secondary-text: rgba(white, 0.7);
$light-disabled-text: rgba(white, 0.5);
$text-color: $dark-primary-text;

@import 'theme';
// Default General Colors
// --------------------------------------------------
$overlay-background-color: var(--ion-overlay-background-color, #fafafa) !default;
$ripple-background-color: var(--ion-ripple-background-color, #000) !default;


// Color map should provide
// - base: main color to be used.
// - contrast: Color that will provide readable text against the base color
// - shade: 12% darker version of the base color (mix with black)
// - tint: 10% lighter version of the base color (mix with white)
$colors: (
  /* primary */
  primary: (base: $primary, contrast: #fff, shade: get-color-shade($primary), tint: get-color-tint($primary)),
  /* primary100 */
  primary100: (base: $primary100, contrast: #fff, shade: get-color-shade($primary100), tint: get-color-tint($primary100)),
  /* primary900 */
  primary900: (base: $primary900, contrast: #fff, shade: get-color-shade($primary900), tint: get-color-tint($primary900)),
  /* secondary */
  secondary: (base: $secondary, contrast: #fff, shade: get-color-shade($secondary), tint: get-color-tint($secondary)),
  /* secondary100 */
  secondary100: (base: $secondary100, contrast: #fff, shade: get-color-shade($secondary100), tint: get-color-tint($secondary100)),
  /* secondary900 */
  secondary900: (base: $secondary900, contrast: #fff, shade: get-color-shade($secondary900), tint: get-color-tint($secondary900)),
  /* tertiary */
  tertiary: (base: $tertiary, contrast: #fff, shade: get-color-shade($tertiary), tint: get-color-tint($tertiary)),
  /* accent */
  accent: (base: $accent, contrast: #fff, shade: get-color-shade($accent), tint: get-color-tint($accent)),
  /* warning */
  success: (base: $success, contrast: #fff, shade: get-color-shade($success), tint: get-color-tint($success)),
  /* success */
  warning: (base: $warning, contrast: #fff, shade: get-color-shade($warning), tint: get-color-tint($warning)),
  /* danger */
  danger: (base: $danger, contrast: #fff, shade: get-color-shade($danger), tint: get-color-tint($danger)),
  /* light */
  light: (base: $light, contrast: $dark, shade: get-color-shade($light), tint: get-color-tint($light)),
  /* medium */
  medium: (base: $medium, contrast: #fff, shade: get-color-shade($medium), tint: get-color-tint($medium)),
  /* dark */
  dark: (base: $dark, contrast: #fff, shade: get-color-shade($dark), tint: get-color-tint($dark)),
  /* transparent */
  transparent: (base: $transparent, contrast: $dark, shade: $transparent, tint: $transparent)
);
