<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="visible-xs visible-sm" (click)="cancel()" *ngIf="canCancel">
        {{'COMMON.BTN_CANCEL'|translate}}
      </ion-button>
    </ion-buttons>

    <ion-title>
      {{'NETWORK.PEER.SELECT_MODAL.TITLE'|translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

    <ion-list-header>
      <ion-label text-wrap>
        <p translate>NETWORK.PEER.SELECT_MODAL.HELP</p>

      </ion-label>
    </ion-list-header>

    <!-- loader -->
    <ion-item *ngIf="loading" lines="none">
      <ion-label text-center>
        <ion-spinner></ion-spinner>
      </ion-label>
    </ion-item>

    <ion-item tappable ripple
              *ngFor="let peer of $peers | async"
              (click)="selectPeer(peer)"
              detail>

      <!-- icon -->
      <ion-avatar slot="start" *ngIf="peer.reachable" >
        <ion-img [src]="peer.favicon || (peer.url + '/api/favicon')"></ion-img>
      </ion-avatar>
      <ion-icon slot="start"  *ngIf="!peer.reachable" name="desktop" color="medium" text-center></ion-icon>

      <!-- Peer is UP -->
      <ion-grid *ngIf="peer.reachable">
        <ion-row no-padding>
          <ion-col no-padding>
            <ion-label text-wrap>
              <ion-text color="dark">
                <h3>{{peer.hostAndPort}}</h3>
              </ion-text>
              <ion-text color="primary">
                <h4>{{peer.label}}</h4>
              </ion-text>
            </ion-label>
          </ion-col>
          <ion-col no-padding>
            <ion-label text-wrap text-center color="medium">
              <h3>{{peer.softwareName}}</h3>
              <h4><small>v{{peer.softwareVersion}}</small></h4>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>

      <!-- Peer is DOWN -->
      <ion-label text-wrap *ngIf="!peer.reachable">
        <ion-text color="medium">
          <h3>{{peer.hostAndPort}}</h3>
        </ion-text>
        <ion-text color="danger">
          <h4>
            <small><ion-icon size="small" name="close-circle"></ion-icon></small>
            <span translate>NETWORK.PEER.OFFLINE</span>
          </h4>
        </ion-text>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>


<ion-footer hidden-xs hidden-sm *ngIf="canCancel">

  <ion-toolbar>

    <ion-row no-padding nowrap>
      <ion-col></ion-col>

      <!-- buttons -->
      <ion-col size="auto">
        <ion-button fill="clear" color="dark" (click)="cancel()">
          <ion-label translate>COMMON.BTN_CANCEL</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>


  </ion-toolbar>
</ion-footer>
