<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content [class.dark]="settings.darkMode$ | async">
        <ion-list id="main-menu-list">
          <ion-list-header [innerHTML]="'COMMON.APP_NAME' | translate"></ion-list-header>

          <ion-note></ion-note>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item
              routerDirection="root"
              *ngIf="p.url && (!p.visible || p.visible())"
              [disabled]="p.disabled"
              [routerLink]="p.url"
              lines="none"
              detail="false"
              routerLinkActive="selected"
            >
              <ion-icon slot="start" [color]="p.color" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label [color]="p.color">{{ p.title | translate }}</ion-label>
            </ion-item>
            <ion-item
              routerDirection="root"
              *ngIf="p.handle && (!p.visible || p.visible())"
              (click)="p.handle($event)"
              lines="none"
              detail="false"
              tappable
              class="ion-activatable"
              tappable
              @fadeInAnimation
            >
              <ion-icon slot="start" [color]="p.color" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label [color]="p.color">{{ p.title | translate }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
