<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content [class.dark]="settings.darkMode$ | async">
        <ion-list id="main-menu-list">
          <ion-list-header class="title" [innerHTML]="'COMMON.APP_NAME' | translate"></ion-list-header>

          <ion-note></ion-note>

          @for (p of appPages; track $index) {
            @if (p.divider) {
              <!-- divider -->
              <ion-item-divider class="{{ p.cssClass }} {{ p.color }}" @fadeInAnimation>
                <ion-icon slot="start" [color]="p.color" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                @if (p.cssClass !== 'flex-spacer') {
                  <ion-label [color]="p.color">{{ p.title | translate }}</ion-label>
                }
              </ion-item-divider>
            } @else {
              <ion-menu-toggle auto-hide="false">
                @if (p.url && (!p.visible || p.visible())) {
                  <!-- link button -->
                  <ion-item
                    routerDirection="root"
                    [disabled]="p.disabled"
                    [routerLink]="p.url"
                    lines="none"
                    detail="false"
                    routerLinkActive="selected"
                  >
                    <ion-icon slot="start" [color]="p.color" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                    <ion-label [color]="p.color">{{ p.title | translate }}</ion-label>
                  </ion-item>
                } @else if (p.handle && (!p.visible || p.visible())) {
                  <!-- action button -->
                  <ion-item
                    routerDirection="root"
                    (click)="p.handle($event)"
                    lines="none"
                    detail="false"
                    class="ion-activatable ion-focusable"
                    tappable
                    @fadeInAnimation
                  >
                    <ion-icon slot="start" [color]="p.color" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                    <ion-label [color]="p.color">{{ p.title | translate }}</ion-label>
                  </ion-item>
                }
              </ion-menu-toggle>
            }
          }
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
