<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{'ACCOUNT.TITLE'|translate: {name: walletId} }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar class="ion-text-end" color="secondary">
      <ion-title size="large">{{ data?.free | amountFormat }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">

    <ion-list>
      <ion-item *ngIf="error" lines="none" color="light">
        <ion-icon slot="start" name="alert-circle" color="danger"></ion-icon>
        <ion-label color="danger">{{error|translate}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-icon slot="start" name="key"></ion-icon>
        <ion-label color="medium" translate>COMMON.PUBKEY</ion-label>
        <ion-input *ngIf="loaded; else inputSkeleton"
                   class="ion-text-end"
                   [value]="data?.address"
                   readonly>
        </ion-input>
        <ion-button slot="end" (click)="copyAddress()" fill="clear" [title]="'COMMON.COPY'|translate">
          <ion-icon slot="icon-only" name="copy"></ion-icon>
        </ion-button>
      </ion-item>

      <ion-item  detail  [routerLink]="['/wot/cert/', data?.address]">
        <ion-icon slot="start" name="ribbon"></ion-icon>
        <ion-label translate>ACCOUNT.CERTIFICATION_COUNT</ion-label>
        <ion-badge color="success">0</ion-badge>
      </ion-item>

    </ion-list>

    <div class="ion-text-center">
      <ion-button [routerLink]="'../../transfer'">
        <ion-icon slot="start" name="paper-plane"></ion-icon>
        <ion-label translate>COMMON.BTN_SEND_MONEY</ion-label>
      </ion-button>
    </div>
  </div>
</ion-content>

<ng-template #inputSkeleton>
  <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
</ng-template>
