<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title translate>ACCOUNT.TITLE</ion-title>

    <ng-container *ngIf="$account|async; let accounts">
      <ion-select slot="end"
                  *ngIf="accounts|isNotEmptyArray"
                  [(ngModel)]="data"
                  [interface]="mobile ? 'action-sheet' : 'popover'"
                  [okText]="'COMMON.BTN_OK'|translate"
                  [cancelText]="'COMMON.BTN_CANCEL'|translate">
        <ion-select-option *ngFor="let account of accounts"
                           [value]="account">
          {{account|accountName}}
        </ion-select-option>
      </ion-select>
    </ng-container>
  </ion-toolbar>
  <ion-progress-bar type="indeterminate" *ngIf="loading"></ion-progress-bar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar class="ion-text-end" color="secondary">
      <ion-buttons slot="start">
        <ion-button [disabled]="loading"
                    (click)="qrCodeModal.present()">
          <ion-icon slot="icon-only" name="qr-code"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-label slot="end"
                 *ngIf="loaded" class="ion-text-end">
        <b>{{ balance | amountFormat }}</b>
      </ion-label>
    </ion-toolbar>
  </ion-header>

  <div id="container">

    <ion-list>
      <ion-item *ngIf="error" lines="none" color="light">
        <ion-icon slot="start" name="alert-circle" color="danger"></ion-icon>
        <ion-label color="danger">{{error|translate}}</ion-label>
      </ion-item>

      <ion-item *ngIf="!mobile">
        <ion-icon slot="start" name="key"></ion-icon>
        <ion-label color="medium" translate>COMMON.PUBKEY</ion-label>
        <ion-input *ngIf="loaded; else skeleton60"
                   class="ion-text-end"
                   [value]="data?.address"
                   readonly>
        </ion-input>

        <ion-button slot="end" (click)="copyAddress()"
                    [disabled]="loading"
                    fill="clear" [title]="'COMMON.COPY'|translate">
          <ion-icon slot="icon-only" name="copy"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item *ngIf="mobile" (click)="copyAddress()" >
        <ion-icon slot="start" name="key"></ion-icon>
        <ion-label class="ion-text-wrap">{{data?.address}}</ion-label>
      </ion-item>

<!--      <ion-item  detail  [routerLink]="['/wot/cert/', data?.address]">-->
<!--        <ion-icon slot="start" name="ribbon"></ion-icon>-->
<!--        <ion-label translate>ACCOUNT.BALANCE_ACCOUNT</ion-label>-->
<!--        <ion-badge color="success">{{(data?.data.free || 0) | amountFormat}} {{currency}}</ion-badge>-->
<!--      </ion-item>-->

<!--      <ion-item detail  -->
<!--                 [routerLink]="['/wot/cert/', data?.address]">-->
        <ion-item detail (click)="notImplementedModal.present()">
        <ion-icon slot="start" name="ribbon"></ion-icon>
        <ion-label translate>ACCOUNT.CERTIFICATION_COUNT</ion-label>
        <ion-badge color="success">0</ion-badge>
      </ion-item>

    </ion-list>

    <div class="ion-text-center ion-padding-top">
      <ion-button [routerLink]="['/transfer', 'from', data?.address]"
                  [disabled]="loading">
        <ion-icon slot="start" name="paper-plane"></ion-icon>
        <ion-label translate>COMMON.BTN_SEND_MONEY</ion-label>
      </ion-button>
    </div>
  </div>
</ion-content>

<ng-template #skeleton60>
  <ion-skeleton-text [animated]="true" style="width: 60%"></ion-skeleton-text>
</ng-template>

<ion-modal
  #authModal
  [backdropDismiss]="false">
  <ng-template>
    <ion-content scrollY="false">
      <app-auth-modal></app-auth-modal>
    </ion-content>
  </ng-template>
</ion-modal>


<ion-modal
  #qrCodeModal
  [backdropDismiss]="true"
  [presentingElement]="_presentingElement"
>
  <ng-template>
    <ion-content [scrollY]="mobile">
      <ion-header>
        <ion-toolbar>
          <ion-title translate>COMMON.PUBKEY</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="qrCodeModal.dismiss()" translate>COMMON.BTN_CLOSE</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <qr-code [value]="data.address" [size]="250"></qr-code>

      <!-- public key -->
      <ion-list>
        <ion-item lines="none" (click)="copyAddress()" tappable>
          <ion-icon slot="start" name="key"></ion-icon>
          <ion-label class="ion-text-wrap">{{data?.address}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-modal>



<ion-modal
  #notImplementedModal
  [backdropDismiss]="true"
>
  <ng-template>
    <ion-content>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="end">
            <ion-button (click)="notImplementedModal.dismiss()" translate>COMMON.BTN_CLOSE</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-item>
        <ion-icon slot="start" name="warning" color="danger" lines="none"></ion-icon>
        <ion-label class="ion-text-wrap" [innerHTML]="'INFO.FEATURES_NOT_IMPLEMENTED'|translate"></ion-label>
      </ion-item>
    </ion-content>
  </ng-template>
</ion-modal>
