@import 'theme';
@import 'variables';

* {
  @include font-roboto();
}

body {
  background-color: var(--ion-background-color);

  /* Barcode scanner plugin */
  &.barcode-scanner-active {
    --background: transparent;
    --ion-background-color: transparent;

    & > app-root {
      visibility: hidden;
    }
  }
}

// Extra small device
:host {
  @media screen and (max-width: #{$screen-xs-max}) {
    --mat-toolbar-height: mat.$toolbar-height-mobile;
  }

  ion-icon {
    pointer-events: none !important;
  }
}
