<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title translate>HOME.TITLE</ion-title>
    <ion-buttons slot="end">
      <!-- locale button -->
      <ion-button id="locale-menu-trigger" [title]="'COMMON.LANGUAGE'|translate">
        <ion-icon slot="icon-only" name="language"></ion-icon>
      </ion-button>
      <ion-popover #popover trigger="locale-menu-trigger" triggerAction="locale-menu">
        <ng-template>
          <ion-content>
            <ion-list>
              <ion-item *ngFor="let item of locales"
                        (click)="changeLocale(item.key) || popover.dismiss()"
                        tappable>
                <ion-label>{{item.value}}</ion-label>
                <ion-icon slot="end" name="checkmark" *ngIf="data.locale===item.key"></ion-icon>
              </ion-item>
            </ion-list>
          </ion-content>
        </ng-template>
      </ion-popover>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">

    <ion-button id="open-modal-trigger">
      <ion-label translate>COMMON.BTN_LOGIN</ion-label>
    </ion-button>

  </div>
</ion-content>

<ion-modal
  #modal
  trigger="open-modal-trigger"
  [backdropDismiss]="false"
>
  <ng-template>
    <ion-content scrollY="false">
      <app-auth-modal></app-auth-modal>
    </ion-content>
  </ng-template>
</ion-modal>

