<ion-slides #slides [pager]="mobile" [options]="slideOpts" [class]="classList">
  <!-- intro step -->
  <ion-slide class="ion-padding">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-text>
            <p>
              {{'ACCOUNT.NEW.INTRO_WARNING_TIME'|translate:currency }}
            </p>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card color="light">
            <ion-card-content>
              <ion-text  [innerHTML]="'ACCOUNT.NEW.INTRO_WARNING_SECURITY'|translate"></ion-text><br/>
              <ion-text color="medium" [innerHTML]="'ACCOUNT.NEW.INTRO_WARNING_SECURITY_HELP'|translate"></ion-text>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-text [innerHTML]="'ACCOUNT.NEW.INTRO_HELP'|translate">
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>


  </ion-slide>

  <!-- explanation 1 -->
  <ion-slide class="ion-padding">
    <p>TODO i18n - Cesium fabrique votre portefeuille à partir d'une phrase de restauration. </p>
  </ion-slide>

  <!-- explanation 2 -->
  <ion-slide class="ion-padding">
    <p>TODO i18n - Conservez cette phrase précieusement, car sans elle Cesium ne pourra pas resconstruire... </p>
  </ion-slide>

  <!-- explanation 3 -->
  <ion-slide class="ion-padding">
    <p>TODO i18n - Dna sune blockchain, pas de procédure de récupration par mail. </p>
  </ion-slide>

  <!-- explanation 4 -->
  <ion-slide class="ion-padding">
    <p>TODO i18n - Il est temps de vous munir d'un papier... </p>
  </ion-slide>

  <!-- generate mnemonic -->
  <ion-slide>
    <ion-grid *ngIf="form|formGetValue:'words'; let words; else wordsSkeleton" class="words">
      <ion-row>
        <ion-col size="12">
          <p>Cesium a généré votre phrase de restauration ! Tâchez ...</p>
        </ion-col>
      </ion-row>

      <!-- words -->
      <ion-row class="words">
        <ion-col *ngFor="let word of words; index as index"
                 size="3"
                 class="ion-text-center">
          <ion-text>
            <ion-text color="medium">{{index+1}}</ion-text>
            <h4>{{word}}</h4>
          </ion-text>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="ion-text-center">
          <!-- generate new -->
          <ion-button color="light" (click)="generatePhrase()" translate>
            ACCOUNT.NEW.BTN_GENERATE_NEW_PHRASE
          </ion-button>

          <!-- ok -->
          <ion-button color="primary" (click)="toggleCanNext()" translate>
            ACCOUNT.NEW.BTN_WROTE_MY_PHRASE
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-slide>

  <!-- check word -->
  <ion-slide>
    <ion-list>
      <ion-item lines="none">
        <ion-text>
          <p>TODO i18n - Avez-vous bien noté votre phrase de restauration ?</p>
        </ion-text>
      </ion-item>

      <ion-item>
        <ion-label color="medium">{{'ACCOUNT.NEW.INPUT_WORD'|translate: {number: form|formGetValue:'wordNumber'} }}</ion-label>
        <ion-input (ionChange)="checkWord($event.detail.value)"></ion-input>
        <ion-icon slot="end" name="checkmark" *ngIf="slideState.canNext"></ion-icon>
      </ion-item>
    </ion-list>
  </ion-slide>

  <!-- Explain code #1 -->
  <ion-slide>
    <ion-text>
      <p>TODO i18n - Cesium va maintenant générer pour vous un code secret court, qui vous permettra...</p>
    </ion-text>
  </ion-slide>

  <!-- Explain code #2 -->
  <ion-slide>
    <ion-text>
      <p>TODO i18n - Ce code secret protège vos portefeuilles...</p>
    </ion-text>
  </ion-slide>

  <!-- Secret code -->
  <ion-slide>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-text>TODO i18n - Et voila votre code</ion-text>
          <ion-label color="medium" translate>ACCOUNT.NEW.YOUR_SECRET_CODE</ion-label>
        </ion-col>
      </ion-row>

      <ion-row class="ion-padding-top">
        <ion-col>
          <ion-item>
            <ion-text class="ion-text-center" style="width: 100%">
              <h2>{{form|formGetValue: 'code'}}</h2>
            </ion-text>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="ion-text-center">
          <!-- generate new -->
          <ion-button color="light" (click)="generateCode()" translate>
            ACCOUNT.NEW.BTN_GENERATE_NEW_CODE
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-slide>

  <!-- check code -->
  <ion-slide>

  </ion-slide>

  <!-- congratulation ! -->
  <ion-slide>

  </ion-slide>
</ion-slides>

<ng-template #wordsSkeleton>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-text color="medium" translate>COMMON.LOADING</ion-text>
      </ion-col>
    </ion-row>
    <ng-container [ngTemplateOutlet]="rowSkeleton"></ng-container>
    <ng-container [ngTemplateOutlet]="rowSkeleton"></ng-container>
    <ng-container [ngTemplateOutlet]="rowSkeleton"></ng-container>
  </ion-grid>
</ng-template>

<ng-template #rowSkeleton>
  <ion-row class="words">
    <ng-container [ngTemplateOutlet]="wordSkeleton"></ng-container>
    <ng-container [ngTemplateOutlet]="wordSkeleton"></ng-container>
    <ng-container [ngTemplateOutlet]="wordSkeleton"></ng-container>
    <ng-container [ngTemplateOutlet]="wordSkeleton"></ng-container>
  </ion-row>

</ng-template>

<ng-template #wordSkeleton>
  <ion-col size="3">
    <ion-text class="ion-text-center">
      <span><ion-skeleton-text style="width: 5%"></ion-skeleton-text></span>
      <h4>&nbsp;<ion-skeleton-text animated style="width: 40%"></ion-skeleton-text></h4>
    </ion-text>
  </ion-col>

</ng-template>
