<ion-header>
  <ion-toolbar color="secondary">
    <ion-title translate>ACCOUNT.WALLET_LIST.TITLE</ion-title>

    <ion-buttons slot="end" *ngIf="mobile">
      <ion-button (click)="cancel()" translate>COMMON.BTN_CLOSE</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list *rxIf="accounts$; let accounts; suspense: listSkeleton">
    <ion-item *rxFor="let account of accounts; index as index; trackBy: 'address'" (click)="selectAccount(account)" [style.--animation-order]="index">
      <ion-avatar slot="start">
        <app-account-image [account]="account"></app-account-image>
      </ion-avatar>

      <ion-label>{{ account | accountName }}</ion-label>

      <!-- balance -->
      <ion-badge
        *ngIf="showBalance && (account | balance); let balance"
        slot="end"
        [color]="minBalance && balance < minBalance ? 'danger' : 'success'"
      >
        {{ balance | amountFormat }}
      </ion-badge>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>
  </ion-list>

  <ng-template #listSkeleton>
    <app-skeleton-list [avatar]="true" size="5"></app-skeleton-list>
  </ng-template>
</ion-content>
